/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap');

/* APP */
#app {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  /* CUSTOM VARIABLES */
  :root {
    --bg-color: #0A0F24;
    --second-bg-color: #17182E;
    --text-color: #F9F2F2;
    --main-color: #F5CB86;

  }
  ::-webkit-scrollbar {
      display: none;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  /* NAVBAR */
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: var(--second-bg-color);
  }
  
  nav a.router-link-exact-active {
    color: var(--bg-color);
  }

  .navbar {
    background-color: var(--bg-color); /* Adjust the background color if needed */
  }
  
  .navbar-nav {
    margin: auto; /* Centers the navbar items */
  }
  
  .nav-link {
    color: whitesmoke; /* White text */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }
  
  .nav-link:hover,
  .nav-link:active {
    color: gold; /* Gold text on hover or active */
  }
  
  .navbar-toggler {
    border-color: white; /* Optional: White border for the toggler icon */
  }
  
  .navbar-toggler-icon {
    background: var(--text-color);
  }
  

/* UNIVERCAL SELECTOR */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-family: 'Rubik Glitch Pop', sans-serif;
  color: var(--main-color);
}

p {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* SOCIAL MEDIA */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

/* General Social Media Icon Styling */
.social-icon {
  color: var(--bg-color);
  background-color: var(--main-color); /* Default background color */
  border-radius: 100%;
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

/* Hover Effects for Icons */
.social-icon:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  color: var(--main-color); /* Default text color on hover */
}
/* Image Styling */
img {
  object-fit: contain;
}

/* LANDING SECTION */
#landing .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
}
 
/* CUSTOM STYLES */

/* BUTTONS */
button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.9rem; /* Slightly smaller padding */
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  margin: 0.5rem; /* Space between buttons */
}

button:hover {
  background-color: var(--text-color);
  color: var(--main-color);
}

/* SELECT ALL IMAGES */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* LOGO */
img[alt="logo"] {  
    width: 5rem;
}
/* WRAPPER */
:is(.wrapper) {
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}

/* SECTION */
section {
  scroll-margin: 10rem;
}

section {
  min-height: 90vh;
  padding: 1rem 5% 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

/* Container Class Styling */
section[class^="container"] {
  padding: 4rem 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive Design for Larger Screens */
@media screen and (min-width: 1024px) {
  section[class^="container"] {
    padding: 4rem;
  }
  nav [class^="container"] {
    padding: 0 4rem;
  }
}

/* Center Text for Sections Except the First One */
section:not(:first-of-type) {
  text-align: center;
}

/* Alternate Background Colors for Even Sections */
section:nth-child(2n) {
  background-color: #0A0F24;
  color: #ffffff;
}


/* MEDIA QUERIES */
@media screen and (width < 720px ) {
  #landing .row {
    display: block;
    height: auto;
  }
}

/* CONTACT */
.contact {
  padding: 6rem 0;
}

.contact h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment as needed */
}

.contact-info {
  flex: 1;
  padding-right: 2rem;
}

.contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact-info p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #666;
}

.contact-form {
  flex: 1;
  max-width: 70rem;
  margin: 0 auto;
}

.contact form {
  text-align: left; /* Align form elements to the left */
}

.contact form .input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact form .input-box input,
.contact form textarea {
  width: calc(50% - 0.5rem); /* Adjust width and gap */
  padding: 1rem;
  font-size: 1.6rem;
  color: #333;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.contact form .input-box textarea {
  width: 100%; /* Full width for textarea */
  resize: vertical; /* Allow vertical resizing */
}

.contact form .btn {
  width: 100%;
  padding: 1rem;
  background-color: #F5CB86;
  color: #0A0F24;
  border: none;
  font-size: 1.6rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.contact form .btn:hover {
  background-color: #e5b870; /* Darker shade on hover */
}
